{% load static %}
<div class="banner">
  <a class="logo" href="https://www.lib.umd.edu/"><img src="{% static 'umd_lib_style/liblogo.png' %}" alt="UMD Libraries"/></a>
  <a class="application-name" href="/">{{ application_name }}</a>
  <nav>
    <ul class="nav">
      {% for name, label in navigation_links.items %}
      <li>
        {% if name == '' %}
        {{ label }}
        {% elif request.resolver_match.view_name == name %}
        <strong><a href="{% url name %}">{{ label }}</a></strong>
        {% else %}
        <a href="{% url name %}">{{ label }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
